<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>ElzenenProjects.UppdragHund</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>canine360</string>
			</array>
		</dict>
	</array>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>NSCameraUsageDescription</key>
	<string>Kameran används för att skanna QR-koder som bjuder in till team.</string>
	<key>NSMotionUsageDescription</key>
	<string>Stegräknaren kombineras med GPS så att promenadens sträcka blir mer exakt.</string>
	<key>NSSupportsLiveActivities</key>
	<true/>
</dict>
</plist>
